@use 'sass:map';
@use 'config' as *;

@each $prop, $data in $utilities {
  $name: map.get($data, 'name');
  $values: map.get($data, 'values');
  @each $value in $values {
    .#{$name}-#{$value} {
      #{$prop}: $value;
    }
  }
}
