:root {
}

$utilities: (
  display: (
    name: dis,
    values: (
      none,
      block,
      flex,
      inline-block,
    )
  ),
  float: (
    name: flo,
    values: (
      none,
      left,
      right,
    )
  ),
);
